<div class="mat-elevation-z8">
    <div class="datatable-container">
        <table mat-table [dataSource]="sourceData" multiTemplateDataRows matSort class="data-table">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{sourceData.filteredData.indexOf(element)+1}} </td>
            </ng-container>

            <ng-container matColumnDef="option_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.option_name}} </td>
            </ng-container>

            <ng-container matColumnDef="price_unit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Unit </th>
                <td mat-cell *matCellDef="let element"> {{element.price_unit}} </td>
            </ng-container>

            <ng-container matColumnDef="option_description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.option_description}} </td>
            </ng-container>

            <ng-container matColumnDef="option_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.option_type | optionTypes}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="cat_image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <img src="{{element.default_category_image}}" class="category-img" alt="">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
            </ng-container>

            <ng-container matColumnDef="product_price_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Type </th>
                <td mat-cell *matCellDef="let element"> {{element.price_type | priceType}} </td>
            </ng-container>

            <ng-container matColumnDef="product_image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <img src="{{element.default_product_image}}" class="category-img" alt="">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" class="text-right">
                <th mat-header-cell *matHeaderCellDef>Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-sm btn-danger" (click)="categoryEvent('delete', element.id)">delete</button>
                </td>
              </ng-container>

              <ng-container matColumnDef="product_detail" class="text-right">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" (click)="openProductDetail(element.id)">See details</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="down_arrow" class="text-right">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="example-element-row" 
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element"
                (click)="expandDetail(element.id)">
                    <i *ngIf="!expandedElement || element.id != currentId" class="fa fa-angle-down"></i>
                    <i *ngIf="expandedElement && element.id === currentId" class="fa fa-angle-up"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="datatableColumns.length">
                  <div *ngIf="optionExpand" class="example-element-detail" 
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="option-detail">
                        <div *ngIf="optionLoading">
                            <h5>Sub Option</h5>
                            <div class="options table-fixed mat-elevation-z8">
                                <span>Name : </span> 
                                <span>{{subOptionDetail?.name}}</span>
                                <span>Price : </span> 
                                <span>{{subOptionDetail?.price}}</span>
                            </div>
                        </div>
                        <div class="small-loader" *ngIf="!optionLoading">
                            <div class="loading"  [class.d-block]="optionLoading"></div>
                        </div>
                        <div *ngIf="noOption" class="d-flex justify-content-center">
                            No Sub Option
                        </div>
                    </div>
                  </div>
                  <div *ngIf="productExpand" class="example-element-detail" 
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="option-detail">
                        <div *ngIf="optionLoading">
                            <h5>Product Options</h5>
                            <table class="table table-fixed mat-elevation-z8" align="center">
                                <thead>
                                    <tr>
                                        <th class="col-6">Option Name</th>
                                        <th class="col-6">Option Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of subOptionDetail">
                                        <td class="col-6">{{item?.option_name}}</td>
                                        <td class="col-6">{{item?.option_type | optionTypes}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="!optionLoading">
                            <div [class.loading]="productExpand" [class.d-block]="optionLoading"></div>
                        </div>
                        <div *ngIf="noOption" class="d-flex justify-content-center">
                            No Option
                        </div>
                    </div>
                  </div>
                  <div *ngIf="categoryExpand" class="example-element-detail" 
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="option-detail">
                        <div *ngIf="subOptionDetail.length">
                            <h5>Sub Category</h5>
                            <table class="table table-fixed mat-elevation-z8" align="center">
                                <thead>
                                    <tr>
                                        <th class="col-6">Name</th>
                                        <th class="col-6">Imgage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of subOptionDetail">
                                        <td class="col-6">{{item?.name}}</td>
                                        <td class="col-6">
                                            <div>
                                                <img src="{{item.default_category_image}}" class="category-img" alt="">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="small-loader" *ngIf="!optionLoading">
                            <div class="loading"  [class.d-block]="optionLoading"></div>
                        </div>
                        <div *ngIf="noOption" class="d-flex justify-content-center">
                                No Sub Category
                        </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="datatableColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: datatableColumns;">
              </tr>
              <tr style="border: none !important;" mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
