@media only screen and (max-width: 600px) {
    .datatable-container {
        overflow-x: scroll;
        .data-table {
            min-width: 900px;
        }
    }
}
.datatable-container {
  font-family: sans-serif;
  table {
    width: 100%;
    th.mat-header-cell {
      color: rgba(0,0,0,.54);
      font-size: 14px;
      font-weight: 600;
    }
    tr.mat-row {
      border-top: 1px solid rgba(0,0,0,.12) !important;
    }
    td.mat-cell {
      i {
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
      }
    }
    tr.example-detail-row {
      height: 0;
      border: none;
    }
    tr.example-element-row:not(.example-expanded-row):hover {
      background: whitesmoke;
    }
    tr.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }
  }
}

.no-border {
      td.mat-cell {
      border: none !important;
    }
}

.apply-borders {
  td.mat-cell {
    border: none !important;
    border-right: 1px solid rgba(0,0,0,.12) !important
  }
  td.mat-cell, th.mat-header-cell {
    text-align: center !important;
    font-size: 12px !important;
    color: black !important;
    border-right: 1px solid rgba(0,0,0,.12) !important
  }
}

.category-img {
    width: 60px;
    padding: 5px 0;
}

.sub-category-img {
  width: 25px;
}
.example-element-row td {
    border-bottom-width: 0;
}
.example-element-detail {
    overflow: hidden;
    display: flex;
}
.option-detail {
    margin: 1rem;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.2px;
    .catrgory {
      display: flex;
    }
    .options {
      width: 100%;
      padding: 2rem;
    }
  span {
      padding: 1rem;
      &:nth-child(1) {
        font-weight: bold;
      }
      &:nth-child(3) {
        font-weight: bold;
    }
  }
}
  div.loading {
    height: 20px;
    width: 20px;
    margin: 20px auto;
    border-radius: 50%;
    border: dashed 1px black;
    animation-name: loader-spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }
  @-webkit-keyframes loader-spin {
    from   {  transform: rotate(0deg); }
    to     {  transform: rotate(360deg); }
  }

  .table-fixed{
    width: 40rem;
    background-color: white;
    tbody{
      height: 250px;
      overflow-y:auto;
      width: 100%;
      }
    thead,tbody,tr,td,th{
      border: none !important;
      display:block;
    }
    tbody{
      td{
        float:left;
        border-bottom: 1px solid rgba(0,0,0,.12) !important;
        height: 3rem;
      }
    }
    thead {
      tr{
        th{
          float:left;
          border-bottom: 2px solid rgba(0,0,0,.12) !important;
        }
      }
    }
  }
.invoiceForm {
  margin-left: 30%;
}
.btn-submit {
  height: 50px;
}