<div class="mat-elevation-z8">
    <div class="datatable-container">
        <table mat-table [dataSource]="sourceData" [class.no-border]="borderedRows" [class.apply-borders]="tableBorder" multiTemplateDataRows matSort class="data-table">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{sourceData.filteredData.indexOf(element)+1}} </td>
            </ng-container>

            <ng-container matColumnDef="work_order">
                <th mat-header-cell *matHeaderCellDef> Work Order </th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="invoice_no">
                <th mat-header-cell *matHeaderCellDef> Invoice # </th>
                <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" [routerLink]="['/invoice/', element.id]">TBD</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="po_ref_no">
                <th mat-header-cell *matHeaderCellDef> PO/Ref # </th>
                <td mat-cell *matCellDef="let element">{{element.reference_number}}</td>
            </ng-container>

            <ng-container matColumnDef="job_name">
                <th mat-header-cell *matHeaderCellDef> Job Name </th>
                <td mat-cell *matCellDef="let element">{{element.custom_job_name}}</td>
            </ng-container>

            <ng-container matColumnDef="product_info">
                <th mat-header-cell *matHeaderCellDef> Product Info </th>
                <td mat-cell *matCellDef="let element" class="product_info">
                    <b class="pl-3">Product: </b><small class="pl-2">{{element?.custom_product_name}}</small> <br>
                    <b class="pl-3">Quantity: </b><small class="pl-2">{{element?.custom_quantity}}</small><br>
                    <b class="pl-3">Ink: </b><small class="pl-2">{{element?.ink_color}}</small></td>
            </ng-container>

            <ng-container matColumnDef="submitted_date">
                <th mat-header-cell *matHeaderCellDef> Submitted Date </th>
                <td mat-cell *matCellDef="let element">{{element.created_at | date:'dd-MM-yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="due_date">
                <th mat-header-cell *matHeaderCellDef> Due Date </th>
                <td mat-cell *matCellDef="let element">{{element.due_date}}</td>
            </ng-container>

            <ng-container matColumnDef="job_status">
                <th mat-header-cell *matHeaderCellDef> Job Status </th>
                <td mat-cell *matCellDef="let element">{{element.status}}</td>
            </ng-container>

            <ng-container matColumnDef="shipment_tracking">
                <th mat-header-cell *matHeaderCellDef> Shipment Tracking </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <ng-container matColumnDef="actual_ship_date">
                <th mat-header-cell *matHeaderCellDef> Actual Shipping Date </th>
                <td mat-cell *matCellDef="let element">{{element.due_date}}</td>
            </ng-container>

            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Company </th>
                <td mat-cell *matCellDef="let element">{{element?.customer?.company_name}}</td>
            </ng-container>

            <ng-container matColumnDef="proof_status">
                <th mat-header-cell *matHeaderCellDef> Proof Status </th>
                <td mat-cell *matCellDef="let element">
                    {{element.custom_proof}} <br>
                    <a href="javascript:;" (click)="openProofDetailModal(ProofDetail,element.proof_status, element.id)">
                        <small>Proof Detail</small>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="send_email">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" (click)="openEmailModal(Email, element?.customer?.user, element)">Send Email</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="edit_order">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" (click)="editOrders(element)"><small class="font-size-10">Edit Order</small></a><br>
                    <a href="javascript:;" (click)="cloneOrders(element)"><small class="font-size-10">Clone Order</small></a>
                </td>
            </ng-container>

            <ng-container matColumnDef="quoted_price">
                <th mat-header-cell *matHeaderCellDef> Quoted price </th>
                <td mat-cell *matCellDef="let element">{{element.quoted_price}}</td>
            </ng-container>

            <ng-container matColumnDef="final_size">
                <th mat-header-cell *matHeaderCellDef> Final size </th>
                <td mat-cell *matCellDef="let element">{{element.final_size}}</td>
            </ng-container>

            <ng-container matColumnDef="placed_by">
                <th mat-header-cell *matHeaderCellDef> Placed By </th>
                <td mat-cell *matCellDef="let element">{{element?.added_by?.username}}</td>
            </ng-container>

            <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef> Source </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <ng-container matColumnDef="work_by">
                <th mat-header-cell *matHeaderCellDef> Worked By </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <ng-container matColumnDef="shipping_option">
                <th mat-header-cell *matHeaderCellDef> Shipping Options </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <ng-container matColumnDef="ship">
                <th mat-header-cell *matHeaderCellDef> Ship </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <ng-container matColumnDef="create_packing_list">
                <th mat-header-cell *matHeaderCellDef> Create Packing List </th>
                <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" [routerLink]="['/packing-list/', element.id]"
                    [queryParams]="{obj: stringify(element)}">Go</a>
                </td>
            </ng-container>

            <!-- Option Columns -->

            <ng-container matColumnDef="option_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.option_name}} </td>
            </ng-container>

            <ng-container matColumnDef="price_unit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Unit </th>
                <td mat-cell *matCellDef="let element"> {{element.price_unit}} </td>
            </ng-container>

            <ng-container matColumnDef="option_description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.option_description}} </td>
            </ng-container>

            <ng-container matColumnDef="option_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.option_type | optionTypes}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="cat_image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <img [src]="utils.getImage(element.default_category_image)" class="category-img" alt="">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
            </ng-container>

            <ng-container matColumnDef="product_price_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Type </th>
                <td mat-cell *matCellDef="let element"> {{element.price_type | priceType}} </td>
            </ng-container>

            <ng-container matColumnDef="product_image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <img [src]="utils.getImage(element.default_product_image)" class="category-img" alt="">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" class="text-right">
                <th mat-header-cell *matHeaderCellDef>Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-sm btn-danger" (click)="categoryEvent('delete', element.id)">delete</button>
                </td>
              </ng-container>

              <ng-container matColumnDef="product_detail" class="text-right">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" [routerLink]="['/product/', element.id]">See details</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="option_detail" class="text-right">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" [routerLink]="['/option/', element.id]">See details</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="category_detail" class="text-right">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" [routerLink]="['/category/', element.id]">See details</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="down_arrow" class="text-right">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="example-element-row" 
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element"
                (click)="expandDetail(element.id)">
                    <i *ngIf="!expandedElement || element.id != currentId" class="fa fa-angle-down"></i>
                    <i *ngIf="expandedElement && element.id === currentId" class="fa fa-angle-up"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="datatableColumns.length">
                  <div *ngIf="optionExpand" class="example-element-detail" 
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="option-detail">
                        <div *ngIf="detailObj.length">
                            <h5>Sub Option</h5>
                            <table class="table table-fixed mat-elevation-z8" align="center">
                                <thead>
                                    <tr>
                                        <th class="col-6">Sub Option Name</th>
                                        <th class="col-6">Price </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of detailObj">
                                        <td class="col-6">{{item?.name}}</td>
                                        <td class="col-6">{{item?.price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="small-loader" *ngIf="!optionLoading">
                            <div class="loading"  [class.d-block]="optionLoading"></div>
                        </div>
                        <div *ngIf="noOption" class="d-flex justify-content-center">
                            No Sub Option
                        </div>
                    </div>
                  </div>
                  <div *ngIf="productExpand" class="example-element-detail" 
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="option-detail">
                        <div *ngIf="detailObj.length">
                            <h5>Product Options</h5>
                            <table class="table table-fixed mat-elevation-z8" align="center">
                                <thead>
                                    <tr>
                                        <th class="col-6">Option Name</th>
                                        <th class="col-6">Option Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of detailObj">
                                        <td class="col-6">{{item?.option_name}}</td>
                                        <td class="col-6">{{item?.option_type | optionTypes}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="!optionLoading">
                            <div [class.loading]="productExpand" [class.d-block]="optionLoading"></div>
                        </div>
                        <div *ngIf="noOption" class="d-flex justify-content-center">
                            No Option
                        </div>
                    </div>
                  </div>
                  <div *ngIf="categoryExpand" class="example-element-detail" 
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="option-detail">
                        <div *ngIf="detailObj.length">
                            <h5>Sub Category</h5>
                            <table class="table table-fixed mat-elevation-z8" align="center">
                                <thead>
                                    <tr>
                                        <th class="col-6">Name</th>
                                        <th class="col-6">Imgage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of detailObj">
                                        <td class="col-6">{{item?.name}}</td>
                                        <td class="col-6">
                                            <div>
                                                <img [src]="utils.getImage(element.default_category_image)" class="sub-category-img" alt="">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="small-loader" *ngIf="!optionLoading">
                            <div class="loading"  [class.d-block]="optionLoading"></div>
                        </div>
                        <div *ngIf="noOption" class="d-flex justify-content-center">
                                No Sub Category
                        </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="datatableColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: datatableColumns;">
              </tr>
              <tr style="border: none !important;" mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #Email let-modal>
    <div class="modal-header">
     <h5 class="modal-title" id="email">Send Email</h5>
     <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <div class="modal-body">
      <div class="emailForm">
          <form [formGroup]="emailForm" class="m-3 mr-4" (ngSubmit)="sendEmail(emailForm)">
            <div class="form-group row ml-0 mr-0">
                <label class="col-sm-4 col-form-label" for="to">To :</label>
                <input type="email" class="form-control col-sm-8" [(ngModel)]="customerEmail" formControlName="to" placeholder="email">
            </div>
            <div class="form-group row ml-0 mr-0">
                <label class="col-sm-4 col-form-label" for="subject">Subject :</label>
                <input type="text" class="form-control col-sm-8" readonly formControlName="subject" placeholder="your Order {{customerInfo.reference_number}} with {{customerInfo.job_name}} is {{customerInfo.status}}">
            </div>
            <div class="form-group row ml-0 mr-0">
                <label class="col-sm-4 col-form-label" for="message">Message :</label>
                <textarea class="form-control col-sm-8" [(ngModel)]="emailContent" formControlName="message"></textarea>
            </div>
            <button class="btn btn-primary btn-submit mt-4 w-50" type="submit" [disabled]="emailForm.invalid"> Submit </button>
          </form>
      </div>
    </div>
</ng-template>

<ng-template #ProofDetail let-modal>
    <div class="modal-header">
     <h5 class="modal-title" id="email">Proof Detail</h5>
     <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <div class="modal-body">
      <div class="proofDetail">
        <div class="update-proof-status pb-5">
            <b class="font-weight-bold pl-1">Update Proof Status</b>
            <div class="row form-box mt-4 mb-3">
                <label class="col-sm-3 p-0 pl-3 pt-1 col-form-label text-shadow" for="custom_proof">Proof Status :</label>
                <select class="form-control form-control-sm col-sm-8 ml-4" id="proof" [(ngModel)]="proofStatus"  placeholder="Select Proof Status">
                    <option *ngFor="let status of proofStatusList | keyvalue" [value]="status.key">{{status.value}}</option>
                </select>
            </div>
            <button (click)="updateProofStatus()" class="btn btn-primary mb-3 btn-sm pull-right">update</button>
        </div>
        <div class="proof-history mt-4">
            <b class="font-weight-bold pl-1">Proof Status History</b>
            <div class="history-table mt-4 mb-4" *ngIf="proofHistoryList.length">
                <table class="table table-bordered" align="center">
                    <thead>
                      <tr>
                        <th scope="col">Proof status</th>
                        <th scope="col">Last updated</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of proofHistoryList">
                        <td scope="row">{{item.proof_status}}</td>
                        <td>{{item.created_at}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="small-loader" *ngIf="loader">
                <div class="loading"  [class.d-block]="loader"></div>
            </div>
            <div *ngIf="!loader">
               <span class="d-flex justify-content-center mt-3 mb-3" *ngIf="!proofHistoryList.length"> No History</span>
            </div>
        </div>
      </div>
    </div>
</ng-template>