<div class="heading">Category Detail</div>
<hr>
<div class="container">
    <div class="card" *ngIf="!loading">
        <div class="row product-section">
          <div class="col-5 pl-0">
            <div [class.content]="editCategorytId">
              <img [src]="imgFlag ? updateImg : utils.getImage(categoryDetail?.default_category_image)" class="card-img" alt="...">
              <input style="display: none" type="file" [disabled]="!editCategorytId" (change)="onSelectFile($event)" #hiddenfileinput>
              <div class="content-overlay" [disabled]="!editCategorytId"></div>
              <div [disabled]="!editCategorytId" class="content-details d-flex flex-column justify-content-center fadeIn-bottom">
                <i (click)="hiddenfileinput.click()"></i>
              </div>
          </div>
          </div>
          <div class="col-7">
            <div class="card-body">
              <h5 class="card-title"> 
                <input [class.applyBorder]="!editCategorytId" [disabled]="!editCategorytId" type="text" [(ngModel)]="categoryDetail.name">
              </h5>
              <div class="row pull-right product-edit">
                <a href="javascript:;" *ngIf="!editCategorytId" (click)="editCategory()">Edit</a>
                <a href="javascript:;" *ngIf="editCategorytId" (click)="saveCategory(categoryDetail)">Save</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row option-table">
          <div class="card-body">
            <h5>Products</h5>
            <table class="table mat-elevation-z8 table-fixed" align="center">
              <thead>
                  <tr>
                      <th class="col-3">Product Name</th>
                      <th class="col-2">Product Image</th>
                      <th class="col-4">Price Type</th>
                      <th class="col-3"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of productList">
                      <td class="col-3">{{item?.product_name}}</td>
                      <td class="col-2">
                        <img [src]="utils.getImage(item.default_product_image)" class="sub-category-img" alt="">
                      </td>
                      <td class="col-4">{{item?.price_type | priceType}}</td>
                      <td class="col-3"> <a href="javascript:;" [routerLink]="['/product/', item?.id]"> project detail </a></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" [class.d-block]="loading">
  <ngx-spinner size="medium" color="#fff" type="ball-scale-multiple">
  </ngx-spinner>
</div>
