@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    font-family: Arial, Helvetica, sans-serif;
}
.container-filter {
    box-shadow: 0 0 1px;
    .status-table {
        width: 100%;
        th, td {
            width: 5%;
        }
        th {
            height: 3rem;
            border-bottom: 1px solid #a6adb3;
            border-right: 1px solid #a6adb3;
        }
        td {
            height: 3rem;
            font-size: 18px;
            border-right: 1px solid #a6adb3;
            cursor: pointer;
            i {
                float: right;
                margin-right: 2rem;
            }
            .calender-input {
                width: 75%;
                border: none;
                font-size: 14px !important;
            }
            .select-input {
                border: none;
                outline: none;
                box-shadow: none;
                height: 100%;
                font-size: 14px !important;
            }
        }
    }
}

.mat-select-panel{
    position: absolute;
    top: 32px;
    left: 4px;
    min-width: calc(100% + 22px) !important;
    border-radius: 0px !important;
    border: 1px solid blue;
    border-top-style: none;
}