section {
    padding-bottom: 0;
}

.btn-cus {
    width: 100px;
}

.logo-container {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 10px;
    height: 76px;
}

.logo img {
    max-height: 100%;
}

.logo-custom {
    width: 150px;
    height: auto;
}

.main_menu li {
    padding: 0;
}

.main_menu li:not(:last-child) {
    margin-right: 20px;
}

.main_menu li a {
    padding-bottom: 5px;
}

.main_menu li:hover a {
    color: #e65540;
    border-color: #e65540;
}

.active {
    color: #e65540;
}

.sub_menu li, .sub_menu a {
    padding: 10px;
    font-family: Montserrat-Regular;
    font-size: 13px;
    color: white !important;
}

.sub_menu a:hover {
    color: #e65540 !important;
}

.heading::after {
    display: block;
    height: 2px;
    background-color: #e65540;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.feature-box { 
    text-align: center; 
    width: 90%;
    margin-bottom: 50px;
}

.feature-box i { 
    font-size: 60px; 
    color: #e65540; 
    margin-bottom: 15px; 
}

.feature-box h5{ 
    margin-bottom: 15px; 
    color: #e65540; 
    font-weight: 600; 
}

.category-intro {
    background: #ccc;
    padding: 0;
    padding: 40px 70px;
}

.product-feature {
    padding: 10px 5px;
}

.product-feature li i {
    font-size: 14px;
    color: #e65540;
    margin-right: 10px;
}

.product-feature li span {
    font-size: 14px;
}

/* .dropdown-list {

} */

/* .item-cus {
    background-color: #222222;
} */