<div class="pagecontent">
    <div class="row">
        <div class="col-md-12">
            <section class="tile">
                <div class="tile-body">
                    <div class="mt-3 clearfix">
                        <div class="pull-left">
                            <button type="button" class="btn btn-primary" (click)="openModal('add-category')">
                                <i class="fa fa-plus"></i>
                                Create Category
                            </button>
                        </div>
                    </div>
                    <div class="mb-2 mt-4">
                        <div *ngIf="categoriesData.length">
                            <app-datatable [datatableColumns]="tableColumns" [categoryExpand]="true" [dataSource]="categoriesData" (categoryItemEvent)="categoryEventClicked($event)">
                            </app-datatable>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
