.container-fluid {
    .orders {
        .header {
            .search-input {
                font-size: 12px !important;
                width: 25rem;
            }
        }
    }
    .no-record {
        margin-top: 15%;
    }
    .loader {
        margin-top: 50%;
    }
}