.model-styling {
    margin: 1rem;
    width: 75%;
    text-align: left;
}
.model-styling > .form-group, .checkbox, textarea, label, input {
    font-size: 14px;
    font-weight: 400;
}
.magin-right {
    margin-right: 5rem;
}
.close:focus {
    outline: none;
}

.price-type-2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.card-img {
    width: auto !important;
    text-align: center;
}