<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="close" (click)="activeModal.close('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        
        <form [formGroup]="productForm" class="form-horizontal">
            <div>
                <div style="margin-bottom: 25px" class="input-group">
                    <input id="name" type="text" class="form-control" formControlName="product_name" placeholder="Name">
                </div>     
                <div class="input-group">
                    <label>
                        <input type="checkbox" (change)="isChild = !isChild"> Is child product
                    </label>
                </div>
                <div class="form-group mt-3" *ngIf="isChild">
                    <label for="productCategor">Select Category</label>
                    <select class="form-control" id="productCategor" formControlName="category">
                        <option  *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </div>            
                <div class="form-group">
                    <br>
                    <label for="forUploadImg"> Choose File </label> <br>
                    <input type="file" (change)="fileProgress($event)"/>
                </div>
            </div>                        
              
        </form> 

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="submitForm()" [disabled]="productForm.invalid">Add</button>
    </div>
</div>
