* {
  font-family: sans-serif;
}
.container {
    width: 100%;
    .heading {
      margin-left: 1rem;
      font-size: 25px;
      text-shadow: 5 0 0px;
    }
    hr {
      margin: 0 !important;
      margin: 1rem !important;
    }
    .card {
      font-family: sans-serif;
      text-align: left;
      margin: 1rem;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  }
  .product-section {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    .card-body {
      padding: 0;
      margin-top: 5rem;
      margin-right: 2rem;
    .card-title {
        font-size: 2rem;
    }
    .card-heading input {
      color: black !important;
      font-size: 1.5rem !important;
      font-weight: bold !important;
    }
    img::after {
      content: "\f0d7";
      top: 3;
      right: 0px;
      position: absolute;
      font-family: "FontAwesome";
    }
    .product-edit a {
      font-size: 1rem;
      margin-top: 2rem;
      margin-right: 2rem;
    }
    .product-description {
        text-align: justify;
        background: none;
        input {
          background: none;
        }
      }
    }
  }
}


.card-text {
    font-size: 0.25rem;
    font-size: 1rem;
    padding: 0.25rem;
    color: #888;
}

.card-img {
  height: 25rem;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.table-fixed{
  width: 100%;
  background-color: white;
  tbody{
    height: 250px;
    overflow-y:auto;
    width: 100%;
    }
  thead,tbody,tr,td,th{
    display:block;
    border: none;
  }
  th, td {
    border-bottom: 1px solid #dee2e6;
  }
  tbody{
    td{
      float:left;
      height: 3.5rem;
    }
  }
  thead {
    tr{
      th{
        float:left;
        height: 3rem;
        font-size: 14px;
      }
    }
  }
}
.applyBorder {
  background: none;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
.sub-option table {
  width: 35rem !important;
}
.custom-class {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
button {
  border: none !important;
  outline: none !important;
}


