.card {
    text-align: left;
    border: none !important;
    .row {
        .col-md-6 {
            .form-border {
                border: 1px solid rgba(0, 0, 0, 0.125);
            }
        }
    }
}
.form-box {
    margin: 0.5rem !important;
}
input {
    background: none !important;
}
.firstForm, .boxesForm, .totalBoxesForm{
    table {
        border: 1px solid black;
        th, td {
            padding: 0.2rem !important;
        }
        td {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }
    }
}
.form-box {
    height: 1.7rem !important;
}
.customer-box {
    border: none !important;
}
.del {
    content: '\f068';
    position: absolute;
    font-family: "FontAwesome";
}
.add {
    content: '\f067';
    position: absolute;
    font-family: "FontAwesome";
}
legend {
    width: auto;
    font-size: 1rem;
    font-weight: 600;
}
.has-error {
    color: red;
}
.has-error input {
    border: 1px solid red;
}

input[type="date"]:focus::before {
    content: none !important;
}
span i {
    cursor: pointer;
}
.loader {
    margin-top: 50%;
}
@media print {
    .hide-print {
      display: none;
    }
}
.table .thead-dark th {
    font-size: 13px;
}
.customOrderForm {
    width: 75%;;
}