<div class="container">
    <div class="container-header mt-4 m-3">
        <div class="product-btn">
            <button type="button" class="btn btn-primary" (click)="openModal('add-category')">
                <i class="fa fa-plus"></i>
                Create Option
            </button>
        </div>
        <div class="filter mr-3">
            <div class="form-group filters form-inline row">
                <label class="col-form-label" for="productCategor">Product :</label>
                <select  (change)="showByProducrId($event.target.value)" class="form-control" id="productCategor">
                    <option value="all">All</option>
                    <option  *ngFor="let product of productData" [value]="product.id">{{product.product_name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-body m-3">
        <div class="product-heading">All Options</div>
        <div *ngIf="optionsData.length">
            <app-datatable [optionExpand]="true" [datatableColumns]="tableColumns" [dataSource]="optionsData">
            </app-datatable>
        </div>
    </div>
    <div class="noRecord d-flex justify-content-center" *ngIf="!loading">
        <span *ngIf="!optionsData.length">No Record Match</span>
    </div>
    <div class="small-loader d-flex justify-content-center" [class.d-block]="loading">
        <ngx-spinner size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
</div>

