<div class="container">
    <div class="container-header">
        <div class="product-btn">
            <button class="btn btn-primary" (click)="openModal('add-category')">
                <i class="fa fa-plus"></i>
                Create Product
            </button>
        </div>
        <div class="filter">
            <div class="form-group filters form-inline row">
                <label class="col-form-label" for="productCategor">Category :</label>
                <select  (change)="showByCategoryId($event.target.value)" class="form-control" id="productCategor">
                    <option value="all">All</option>
                    <option  *ngFor="let category of categoriesData" [value]="category.id">{{category.name}}</option>
                </select>
                <label class="col-form-label" for="producPriceType">Price Type :</label>
                <select  (change)="showByPriceType($event.target.value)" class="form-control" id="producPriceType">
                    <option value="all">All</option>
                    <option  *ngFor="let item of pricesData | keyvalue" [value]="item.key">{{item.value}}</option>
                </select>
                <label class="col-form-label" for="producFeature">Featured :</label>
                <select  (change)="showByFeatured($event.target.value)" class="form-control" id="producFeature">
                    <option value="all">All</option>
                    <option value="is_featured">Is featured</option>
                    <option value="is_deleted">Is deleted</option>
                    <option value="is_coupon">Is coupon</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-body">
        <div class="product-heading">All Products</div>
        <div *ngIf="productsData.length">
            <app-datatable [datatableColumns]="tableColumns" [dataSource]="productsData" (categoryItemEvent)="deleteProduct($event)">
            </app-datatable>
        </div>
    </div>
    <div class="noRecord d-flex justify-content-center" *ngIf="!loading">
        <span *ngIf="!productsData.length">No Record Match</span>
    </div>
    <div class="small-loader d-flex justify-content-center" [class.d-block]="loading">
        <ngx-spinner size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
</div>

