<div class="container-fluid p-0" *ngIf="!loader">
    <div class="customers">
        <div class="mt-4 mb-4">
            <h4 class="heading mb-5 pt-5 mr-5 text-center">{{operation}} Customer</h4>
            <div class="card">
                <div class="body">
                    <form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm)">
                        <div class="row p-0 m-0">
                            <div class="col-md-5 customer-box">
                                <div formGroupName="user" class="row form-box pt-3" [hidden]="operation === 'Update'">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="username"><b class="text-danger">* </b>Username :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-6 ml-2" formControlName="username" placeholder="Username"
                                    [ngModel]="userList ? userList.username: ''" 
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.username').errors }">
                                    <div class="usernamrErr" *ngIf="usernameError">
                                        <small style="color: red;">This Username is already exist.</small>
                                    </div>
                                </div>
                                <div formGroupName="user" class="row form-box" [hidden]="operation === 'Update'">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="password"><b class="text-danger">* </b>Password :</label>
                                    <input type="password" class="form-control form-control-sm col-sm-6  ml-2" formControlName="password" placeholder="password"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.password').errors }">
                                </div>
                                <div formGroupName="user" class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="first_name"><b class="text-danger">* </b>First Name :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-6 ml-2" formControlName="first_name" placeholder="First name"
                                    [ngModel]="userList ? userList.first_name: ''" 
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.first_name').errors }">
                                </div>
                                <div formGroupName="user" class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="last_name"><b class="text-danger">* </b>Last Name :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-6 ml-2" formControlName="last_name" placeholder="Last name"
                                    [ngModel]="userList ? userList.last_name: ''" 
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.last_name').errors }">
                                </div>
                                <div formGroupName="user" class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="email"><b class="text-danger">* </b>Email :</label>
                                    <div class="col-sm-6 p-0 m-0  ml-2">
                                        <input type="email" class="form-control form-control-sm" formControlName="email" placeholder="email"
                                        [ngModel]="userList ? userList.email: ''" 
                                        [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.email').errors }">
                                        <div *ngIf="customerForm.get('user.email').hasError('pattern')">
                                            <small style="color: red;">The Email is not valid.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="status">Status :</label>
                                    <select class="form-control form-control-sm col-sm-6 ml-2" id="order-status"
                                    [ngModel]="customerList ? customerList.status: '1'" formControlName="status">
                                        <option *ngFor="let status of statusList | keyvalue" [value]="status.key">{{status.value}}</option>
                                    </select>
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="customer_type">Customer Type :</label>
                                    <select class="form-control form-control-sm col-sm-6 ml-2" id="customer_type" (change)="cutomerTypesChange($event)"
                                    [ngModel]="customerList ? customerList.customer_type: 'Normal'" formControlName="customer_type">
                                        <option *ngFor="let status of customerTypes | keyvalue" [value]="status.key">{{status.value}}</option>
                                    </select>
                                </div>
                                <div class="row form-box"  *ngIf="customerType === 'Broker'">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="discount_percentage">Discount Percentage :</label>
                                    <input type="number" min="0" max="100" class="form-control form-control-sm col-sm-6 ml-2" formControlName="discount_percentage"
                                    [ngModel]="customerList ? customerList.discount_percentage : ''" (change)="maxValue()"><br>
                                    <div *ngIf="maxNumber">
                                        <small style="color: red; margin-left: 9rem;">min 0 amd max number 100.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 p-0 m-0 p-2">
                                <div class="row form-box pt-1">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="company_name">Company Name:</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="company_name" placeholder="Enter Company name"
                                    [ngModel]="customerList ? customerList.company_name: ''">
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="resale_no">Resale No :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="resale_no" placeholder="Enter resale no"
                                    [ngModel]="customerList ? customerList.resale_no: ''">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="address">Address :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="address" placeholder="Enter Address"
                                    [ngModel]="customerList ? customerList.address: ''">
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="city">City :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="city" placeholder="Enter City name"
                                    [ngModel]="customerList ? customerList.city: ''">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="zip_code">Zip code:</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" 
                                    [ngModel]="customerList ? customerList.zip_code: ''"  formControlName="zip_code" placeholder="Enter Zip code">
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="country">Country :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="country" placeholder="Enter Country name">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="phone_number">Phone Number:</label>
                                    <div class="col-sm-3 p-0 m-0">
                                        <input type="text" class="form-control form-control-sm" formControlName="phone_number" placeholder="Enter Phone number"
                                        [ngModel]="customerList ? customerList.phone_number: ''">
                                        <div *ngIf="customerForm.get('phone_number').hasError('pattern')">
                                            <small style="color: red;">only number are allowed.</small>
                                        </div>
                                    </div>
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="fax_number">Fax Number:</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="fax_number" placeholder="Enter Fax number"
                                    [ngModel]="customerList ? customerList.fax_number: ''">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="second_email">Second Email:</label>
                                    <div class="col-sm-3 p-0 m-0">
                                        <input type="text" class="form-control form-control-sm" formControlName="second_email"
                                        [ngModel]="customerList ? customerList.second_email: ''"  placeholder="Enter Second email">
                                        <div *ngIf="customerForm.get('second_email').hasError('pattern')">
                                            <small style="color: red;">The Email is not valid.</small>
                                        </div>
                                    </div>
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="third_email">Third Email :</label>
                                    <div class="col-sm-3 p-0 m-0">
                                        <input type="text" class="form-control form-control-sm" formControlName="third_email" 
                                        [ngModel]="customerList ? customerList.third_email: ''"  placeholder="Enter Third email">
                                        <div *ngIf="customerForm.get('third_email').hasError('pattern')">
                                            <small style="color: red;">The Email is not valid.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow"for="bussiness_type">Bussiness Type :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3"
                                    [ngModel]="customerList ? customerList.bussiness_type: ''"  formControlName="bussiness_type" placeholder="Bussiness type">
                                </div>
                                <div class="d-flex justify-content-end mb-3 mt-5 mr-2">
                                    <button class="btn btn-primary btn-submit mr-3 ml-3" [disabled]="maxNumber" type="submit"> Submit </button>
                                    <a class="btn btn-primary btn-sub mr-3" [routerLink]="['/customers']"> Cancel </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>