<div class="container-fluid p-0">
    <div class="customers">
        <div class="mt-4 mb-4">
            <h4 class="heading mb-5 pt-5 text-center">Add Customer</h4>
            <div class="card">
                <div class="body">
                    <form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm)">
                        <div class="row p-0 m-0">
                            <div class="col-md-5 customer-box" formGroupName="user">
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="username">Username :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-6" formControlName="username" placeholder="Username"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.username').errors }">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="first_name">First Name :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-6" formControlName="first_name" placeholder="First name"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.first_name').errors }">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="last_name">Last Name :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-6" formControlName="last_name" placeholder="Last name"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.last_name').errors }">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="email">Email :</label>
                                    <div class="col-sm-6 p-0 m-0">
                                        <input type="email" class="form-control form-control-sm" formControlName="email" placeholder="email"
                                        [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.email').errors }">
                                        <div *ngIf="customerForm.get('user.email').hasError('pattern')">
                                            <small style="color: red;">The Email is not valid.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="password">Password :</label>
                                    <input type="password" class="form-control form-control-sm col-sm-6" formControlName="password" placeholder="password"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('user.password').errors }">
                                </div>
                            </div>
                            <div class="col-md-7 p-0 m-0">
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="approach_details">Approach details:</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="approach_details" placeholder="Approach details"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('approach_details').errors }">
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow"for="bussiness_type">Bussiness Type :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="bussiness_type" placeholder="Bussiness type"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('bussiness_type').errors }">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="address">Address :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="address" placeholder="Enter Address"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('address').errors }">
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="city">City :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="city" placeholder="Enter City name"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('city').errors }">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="company_name">Company Name:</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="company_name" placeholder="Enter Company name"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('company_name').errors }">
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="country">Country :</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="country" placeholder="Enter Country name"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('country').errors }">
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="fax_number">Fax Number:</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="fax_number" placeholder="Enter Fax number"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('fax_number').errors }">
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="phone_number">Phone Number:</label>
                                    <div class="col-sm-3 p-0 m-0">
                                        <input type="text" class="form-control form-control-sm" formControlName="phone_number" placeholder="Enter Phone number"
                                        [ngClass]="{ 'is-invalid': submitted && customerForm.get('phone_number').errors }">
                                        <div *ngIf="customerForm.get('phone_number').hasError('pattern')">
                                            <small style="color: red;">only number are allowed.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="second_email">Second Email:</label>
                                    <div class="col-sm-3 p-0 m-0">
                                        <input type="text" class="form-control form-control-sm" formControlName="second_email" placeholder="Enter Second email">
                                        <div *ngIf="customerForm.get('second_email').hasError('pattern')">
                                            <small style="color: red;">The Email is not valid.</small>
                                        </div>
                                    </div>
                                    <label class="col-sm-3 p-0 pl-4 pt-2 col-form-label text-shadow" for="third_email">Third Email :</label>
                                    <div class="col-sm-3 p-0 m-0">
                                        <input type="text" class="form-control form-control-sm" formControlName="third_email" placeholder="Enter Third email">
                                        <div *ngIf="customerForm.get('third_email').hasError('pattern')">
                                            <small style="color: red;">The Email is not valid.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-box">
                                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="zip_code">Zip code:</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" formControlName="zip_code" placeholder="Enter Zip code"
                                    [ngClass]="{ 'is-invalid': submitted && customerForm.get('zip_code').errors }">
                                </div>
                                <div *ngIf="submitted" class="text-center text-danger mt-3 mb-4">Fill the Form</div>
                                <button class="btn btn-primary btn-submit mb-5 mt-5 mr-4 pull-right" type="submit"> Submit </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>