.loader {
    margin-top: 40%;
}
.card {
    border: none !important;
}
input, textarea {
    background: none !important;
}
.logo-img {
    width: 15rem;
    height: 4rem;
}
.print-btn {
    border-radius: 20%;
}
.form-box {
    text-align: left;
}
.customers {
    width: 60rem;
}

@media print {
    .hide-print {
      display: none;
    }
    .customers{
		width: 90%;
        height: auto;
        zoom: 72%;
	}
}
.work-order {
    .sub-work-div {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 14px;
    }
    .work-label {
        font-weight: bold;
    }
    .work-value {
        width: 28%;
        text-align: left;
        padding-left: 0.5rem;
        margin-left: 0.5rem;
        border: 1px solid black;
    }
}
.mh-work {
    height: 5rem;
}
.mw-work {
    width: 50% !important;
}
.mw-work-textarea {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0.5rem !important;
}
.font-size-set {
    font-size: 17px !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}