.loader {
    margin-top: 40%;
}
.card {
    border: none !important;
}
input, textarea {
    background: none !important;
}
.logo-img {
    width: 15rem;
    height: 4rem;
}
.print-btn {
    border-radius: 20%;
}
.form-box {
    text-align: left;
}
.customers {
    width: 66rem;
}

@media print {
    .hide-print {
      display: none;
    }
    .customers{
        margin-top: 6rem;
		width: 90%;
        height: auto;
        zoom: 65%;
        .heading {
            margin-bottom: 1rem;
        }
        .work-value, .work-label {
            padding-bottom: 0.35rem;
            padding-top: 0.35rem;
        }
	}
}
.work-order {
    .sub-work-div {
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
        font-size: 16px;
    }
    .work-label {
        font-weight: bold;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
    }
    .work-value {
        width: 28%;
        text-align: left;
        padding-left: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-left: 0.5rem;
        border: 1px solid black;
    }
}
.mh-work {
    height: 10rem;
}
.mw-work {
    width: 50% !important;
}
.mw-work-textarea {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0.5rem !important;
}
.font-size-set {
    font-size: 19px !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.work-value {
    input, textarea {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}
