
<div class="container-fluid" align="center">
    <div class="customers">
        <div class="card" *ngIf="!loader">
            <div class="heading pb-4 pt-5 text-left">
                <img class="logo-img" src="../../../../assets/images/4cc logo.png" alt="">
            </div>
            <div class="body">
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="job_number">WorkOrder/Job ID :</label>
                    <input type="number" class="form-control form-control-sm col-sm-9" readonly [(ngModel)]="orderList.id">
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label font-weight-bold text-danger text-shadow" for="custom_job_name">Order Date&Time :</label>
                    <input type="text" class="form-control font-weight-bold text-danger form-control-sm col-sm-3" readonly [(ngModel)]="orderDateTime">
                    <label class="col-sm-2 p-0 pl-4 pt-2 col-form-label font-weight-bold text-danger text-shadow text-shadow" for="due_date">Due date :</label>
                    <input type="date" class="form-control font-weight-bold text-danger form-control-sm col-sm-4" readonly [(ngModel)]="orderList.due_date">
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="custom_product_name">Product :</label>
                    <input type="text" class="form-control form-control-sm col-sm-9" readonly [(ngModel)]="orderList.custom_product_name">
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="custom_quantity">Total Quantity :</label>
                    <input type="number" class="form-control form-control-sm col-sm-3" readonly [(ngModel)]="orderList.custom_quantity">
                    <label class="col-sm-2 p-0 pl-4  pt-2 col-form-label text-shadow" for="custom_version">Version :</label>
                    <input type="text" class="form-control form-control-sm col-sm-4" readonly [(ngModel)]="orderList.custom_version">
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="flat_size">Flat size :</label>
                    <input type="text" class="form-control form-control-sm col-sm-3" readonly [(ngModel)]="orderList.flat_size">
                    <label class="col-sm-2 p-0 pl-4 pt-2 col-form-label text-shadow" for="final_size">Final size :</label>
                    <input type="text" class="form-control form-control-sm col-sm-4" readonly [(ngModel)]="orderList.final_size" >
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="ink_color">Ink color :</label>
                    <input type="text" class="form-control form-control-sm col-sm-9" readonly [(ngModel)]="orderList.ink_color">
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="custom_paper">Material :</label>
                    <textarea type="text" class="form-control form-control-sm col-sm-9" readonly [(ngModel)]="orderList.custom_paper"></textarea>
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="special_instructoon">Special instruction :</label>
                    <textarea type="text" class="form-control form-control-sm col-sm-9" readonly [(ngModel)]="orderList.special_instructoon"></textarea>
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="country">Company/Customer :</label>
                    <input class="form-control form-control-sm col-sm-3" id="country" readonly [(ngModel)]="customerList.company_name"/>
                    <label class="col-sm-2 p-0 pl-4 pt-2 col-form-label text-shadow" for="reference_number">PO/Reference No :</label>
                    <input type="text" class="form-control form-control-sm col-sm-4" readonly [(ngModel)]="orderList.reference_number">
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="custom_job_name">Job name :</label>
                    <input type="text" class="form-control form-control-sm col-sm-9" readonly [(ngModel)]="orderList.custom_job_name">
                </div>
                <div class="row form-box">
                    <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="shipping_type">Shipment :</label>
                    <input class="form-control form-control-sm col-sm-9" id="shipping_type" readonly [(ngModel)]="orderList.shipping_type"/>
                </div>
                <div class="p-0 m-0" *ngIf="orderList.shipping_type === 'Delivery' || orderList.shipping_type === 'Shipping'">
                    <div class="row form-box">
                        <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="shipping_contact_name">Contact Name :</label>
                        <input type="text" class="form-control form-control-sm col-sm-9" readonly  [(ngModel)]="orderList.shipping_contact_name">
                    </div>
                    <div class="row form-box">
                        <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="shipping_street_address">Address :</label>
                        <input type="text" class="form-control form-control-sm col-sm-3" readonly  [(ngModel)]="orderList.shipping_street_address"/>
                        <label class="col-sm-2 p-0 pl-4 pt-2 col-form-label text-shadow" for="shipping_state">State :</label>
                        <input type="text" class="form-control form-control-sm col-sm-4" readonly  [(ngModel)]="orderList.shipping_state"/>
                    </div>
                    <div class="row form-box">
                        <label class="col-sm-3 p-0 pt-2 col-form-label text-shadow" for="shipping_city">City :</label>
                        <input type="text" class="form-control form-control-sm col-sm-3" readonly  [(ngModel)]="orderList.shipping_city"/>
                        <label class="col-sm-2 p-0 pl-4 pt-2 col-form-label text-shadow" for="shipping_zip_code">Zip Code :</label>
                        <input type="text" class="form-control form-control-sm col-sm-4" readonly  [(ngModel)]="orderList.shipping_zip_code"/>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-5">
                <a href="javascript:;" type="button" class="hide-print print-btn btn btn-sm pl-3 pr-3 mr-2 btn-outline-primary" (click)="window.print()">Print</a>
                <a href="javascript:;" type="button" class="hide-print print-btn btn btn-sm pl-3 pr-3 mr-1 btn-outline-primary" [routerLink]="['/order-status']"> Close </a>
            </div>
        </div>
        <div class="loader d-flex flex-row justify-content-center" *ngIf="loader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>