<div class="container-fluid" align="center">
    <div class="customers">
        <div class="card  mt-4" *ngIf="!loader">
            <div class="heading pb-4 text-left">
                <img class="logo-img" src="../../../../assets/images/4cc logo.png" alt="">
            </div>
            <div class="body work-order">
                <div class="d-flex sub-work-div">
                    <div class="work-label font-size-set">WorkOrder/Job ID :</div>
                    <div class="work-value font-size-set font-weight-bold">{{workOrder}}</div>
                </div>
                <div class="d-flex sub-work-div">
                    <div class="work-label font-size-set text-danger">Order Date&Time :</div>
                    <div class="work-value font-size-set text-danger font-weight-bold">{{orderDateTime}}</div>
                    <div class="work-label font-size-set text-danger ml-4">Shipping Deadline Date :</div>
                    <div class="work-value font-size-set text-danger font-weight-bold">{{orderList.due_date | date:'LLLL dd,yyyy, EEEE' }}</div>
                </div>
                <div class="d-flex sub-work-div">
                    <div class="work-label">Product:</div>
                    <div class="work-value mw-work">{{orderList.custom_product_name}}</div>
                </div>
                <div class="d-flex sub-work-div">
                    <div class="work-label">Total Quantity :</div>
                    <div class="work-value">{{orderList.custom_quantity}}</div>
                    <div class="work-label ml-4">Version :</div>
                    <div class="work-value">{{orderList.custom_version}}</div>
                </div>
                <div class="d-flex sub-work-div">
                    <div class="work-label">Flat size :</div>
                    <div class="work-value">{{orderList.flat_size}}</div>
                    <div class="work-label ml-4">Final size :</div>
                    <div class="work-value">{{orderList.final_size}}</div>
                </div>
                <div class="d-flex sub-work-div">
                    <div class="work-label">Ink color :</div>
                    <div class="work-value">{{orderList.ink_color}}</div>
                </div>
                <div class="d-flex sub-work-div margin-bottom-0">
                    <div class="work-label">Material :</div>
                </div>
                <div class="d-flex sub-work-div margin-top-0">
                    <div class="work-value mh-work mw-work-textarea">{{orderList.custom_paper}}</div>
                </div>
                <div class="d-flex sub-work-div margin-bottom-0">
                    <div class="work-label">Special instruction :</div>
                </div>
                <div class="d-flex sub-work-div margin-top-0">
                    <div class="work-value mh-work mw-work-textarea">{{orderList.special_instructoon}}</div>
                </div>
                <div class="d-flex sub-work-div">
                    <div class="work-label font-size-set">Company/Customer :</div>
                    <div class="work-value font-size-set">{{orderList.customer.company_name}}</div>
                    <div class="work-label font-size-set ml-4">PO/Reference No :</div>
                    <div class="work-value font-size-set">{{orderList.reference_number}}</div>
                </div>
                <div class="d-flex sub-work-div">
                    <div class="work-label font-size-set">Job name :</div>
                    <div class="work-value font-size-set mw-work">{{orderList.custom_job_name}}</div>
                </div>
                <div class="d-flex sub-work-div">
                    <div class="work-label">Shipment :</div>
                    <div class="work-value">{{orderList.shipping_type}}</div>
                </div>
                <div class="p-0 m-0" *ngIf="orderList.shipping_type === 'Delivery' || orderList.shipping_type === 'Shipping'">
                    <div class="d-flex sub-work-div">
                        <div class="work-label">Contact Name :</div>
                        <div class="work-value">{{orderList.shipping_contact_name}}</div>
                    </div>
                    <div class="d-flex sub-work-div">
                        <div class="work-label">Address :</div>
                        <div class="work-value">{{orderList.shipping_street_address}}</div>
                        <div class="work-label ml-4">State :</div>
                        <div class="work-value">{{orderList.shipping_state}}</div>
                    </div>
                    <div class="d-flex sub-work-div">
                        <div class="work-label">City :</div>
                        <div class="work-value">{{orderList.shipping_city}}</div>
                        <div class="work-label ml-4">Zip Code :</div>
                        <div class="work-value">{{orderList.shipping_zip_code}}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex sub-work-div justify-content-end mt-3">
               <span class="font-weight-bold">Place by </span>: {{orderList.added_by.username}}
            </div>
            <div class="d-flex sub-work-div justify-content-center mt-3 mr-4 mb-4">
                <a href="javascript:;" type="button" class="hide-print print-btn btn btn-sm pl-3 pr-3 mr-2 btn-outline-primary" (click)="window.print()">Print</a>
                <a href="javascript:;" type="button" class="hide-print print-btn btn btn-sm pl-3 pr-3 btn-outline-primary" [routerLink]="['/order-status']"> Close </a>
            </div>
        </div>
        <div class="loader d-flex sub-work-div flex-row justify-content-center" *ngIf="loader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>
